<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Nerole.</h2>
    <br />
    <%= link_to 'Check My Web', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing</h3>
    <p>This is the best ever!!!</p>

  </div>

  <div class="col-12 col-sm">
    <h3>Learn With The Best</h3>
    <p>We have the professional to help you in your jouney</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Our Team</h3>
    <p>Our team received three consercutive awards.</p>

  </div>
</div>